.material-symbols-outlined {
  font-variation-settings:
    "FILL" 0,
    "wght" 400,
    "GRAD" 0,
    "opsz" 24;
}
.whisper-shadow {
  box-shadow: 0 10px 30px -10px rgba(0, 36, 27, 0.1);
}
.text-indent-lg {
  text-indent: 4rem;
}
